<a href="https://colab.research.google.com/github/bbaryn/exercise_data_merging/blob/main/exercise_data_merging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
pd.__version__

'1.5.3'

### <a name='a2'></a> Wczytanie danych

In [17]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetch stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [4]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1044 entries, 2023-07-03 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1044 non-null   float64
 1   High    1044 non-null   float64
 2   Low     1044 non-null   float64
 3   Close   1044 non-null   float64
 4   Volume  1044 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 48.9 KB

In [13]:
apple.head()

              Open    High     Low   Close      Volume
Date
2023-07-03  193.78  193.88  191.76  192.46  31458198.0
2023-06-30  191.63  194.48  191.26  193.97  85213216.0
2023-06-29  189.08  190.07  188.94  189.59  46347308.0
2023-06-28  187.93  189.90  187.60  189.25  51216801.0
2023-06-27  185.89  188.39  185.67  188.06  50730846.0

### <a name='a3'></a> Preprocessing

In [19]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [20]:
amazon.head()

            amazon_open  amazon_high  amazon_low  amazon_close  amazon_volume
Date
2023-07-03       130.82      131.850     130.065        130.22       28264785
2023-06-30       129.47      131.245     128.950        130.36       54350684
2023-06-29       128.77      129.260     127.255        127.90       40760959
2023-06-28       128.94      131.480     128.440        129.04       52149512
2023-06-27       128.63      130.085     127.550        129.18       46801008

### <a name='a4'></a> Konkatenacja danych

In [24]:
df = pd.concat(objs=[apple, amazon, google, uber], axis=1)
df

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
Date,,,,,,,,,,,,,,,,,,,,
2018-07-06,44.4315,45.1543,44.3787,45.0386,7.297238e+07,84.8000,85.7635,84.5835,85.5315,53005240,57.0885,57.8100,56.8620,57.754,21819340,NaN,NaN,NaN,NaN,NaN
2018-07-09,45.4045,45.6926,45.3567,45.6677,8.245171e+07,86.2025,86.9780,85.8115,86.9510,60239760,58.0000,58.3965,57.8615,58.364,21584020,NaN,NaN,NaN,NaN,NaN
2018-07-10,45.7006,45.8342,45.5710,45.6108,6.651994e+07,86.9265,87.5000,86.5500,87.1535,60058100,58.4995,58.6750,58.1280,58.357,21334080,NaN,NaN,NaN,NaN,NaN
2018-07-11,45.1673,45.4743,44.9539,45.0157,7.859067e+07,86.8995,87.8480,86.7000,87.7500,64195640,57.7810,59.0220,57.7685,58.573,33252660,NaN,NaN,NaN,NaN,NaN
2018-07-12,45.4125,45.8671,45.3587,45.7794,7.529229e+07,88.2255,89.9000,88.1090,89.8310,90654860,58.7430,60.0995,58.6550,60.063,44148620,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-27,185.8900,188.3900,185.6700,188.0600,5.073085e+07,128.6300,130.0850,127.5500,129.1800,46801008,117.0800,119.0800,116.1000,118.330,39535936,44.69,44.8300,43.75,43.83,29652066.0
2023-06-28,187.9300,189.9000,187.6000,189.2500,5.121680e+07,128.9400,131.4800,128.4400,129.0400,52149512,117.0900,120.3900,116.8500,120.180,27091449,43.50,45.2400,43.32,44.24,28187374.0
2023-06-29,189.0800,190.0700,188.9400,189.5900,4.634731e+07,128.7700,129.2600,127.2550,127.9000,40760959,119.2400,120.0600,118.2950,119.100,24090902,44.09,44.2800,42.11,42.58,28595285.0
2023-06-30,191.6300,194.4800,191.2600,193.9700,8.521322e+07,129.4700,131.2450,128.9500,130.3600,54350684,120.1700,121.0800,119.6900,119.700,29532241,43.11,43.4299,42.92,43.17,17589240.0
2023-07-03,193.7800,193.8800,191.7600,192.4600,3.145820e+07,130.8200,131.8500,130.0650,130.2200,28264785,119.2400,120.1900,118.8182,119.900,14467850,43.17,43.4000,42.58,43.09,7578076.0

In [23]:
df.describe()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
count,1256.000000,1256.000000,1256.000000,1256.000000,1.256000e+03,1256.000000,1256.000000,1256.000000,1256.000000,1.256000e+03,1256.000000,1256.000000,1256.000000,1256.000000,1.256000e+03,1044.000000,1044.000000,1044.000000,1044.000000,1.044000e+03
mean,108.661186,109.973086,107.447537,108.775185,1.121331e+08,122.942200,124.468974,121.287175,122.887795,8.281504e+07,90.780314,91.832418,89.772494,90.828822,3.480558e+07,37.102076,37.856619,36.291085,37.077011,2.539654e+07
std,46.596094,47.137547,46.092659,46.644686,5.641176e+07,33.128504,33.439657,32.749102,33.052550,3.825138e+07,29.645893,29.942522,29.306592,29.620016,1.548523e+07,9.436280,9.512807,9.287566,9.380333,1.630626e+07
min,34.743100,35.158800,34.263500,34.309400,3.145820e+07,67.300000,69.801500,65.350000,67.198000,1.762674e+07,49.216000,50.606000,48.883000,49.233500,9.312760e+06,15.960000,17.800000,13.710000,14.820000,3.380003e+06
25%,55.225750,55.720100,54.726800,55.119100,7.545094e+07,92.691750,93.784375,91.555875,92.766000,5.701011e+07,61.929125,62.296500,61.250750,61.792000,2.510800e+07,30.247500,30.889975,29.558475,30.267500,1.594760e+07
50%,122.472000,123.723000,120.836500,122.571000,9.702722e+07,113.885000,116.299500,112.539000,114.370000,7.149507e+07,88.120000,88.861250,87.030750,88.062500,3.100718e+07,34.745000,35.305850,33.930000,34.680000,2.167306e+07
75%,148.058250,149.954800,146.814500,148.287500,1.320483e+08,158.341000,159.953500,156.254750,158.102000,9.763047e+07,115.188000,116.720000,113.743500,114.894000,3.991487e+07,43.562500,44.282500,42.820025,43.467500,3.021246e+07
max,193.780000,194.480000,191.760000,193.970000,4.347085e+08,187.200000,188.654000,184.840000,186.570000,3.113457e+08,151.250000,151.547000,148.899000,149.838000,1.331771e+08,63.250000,64.050000,60.800000,63.180000,1.863225e+08

In [25]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}')

df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1256.00,108.66,46.60,34.74,55.23,122.47,148.06,193.78
apple_high,1256.00,109.97,47.14,35.16,55.72,123.72,149.95,194.48
apple_low,1256.00,107.45,46.09,34.26,54.73,120.84,146.81,191.76
apple_close,1256.00,108.78,46.64,34.31,55.12,122.57,148.29,193.97
apple_volume,1256.00,112133138.93,56411763.76,31458198.00,75450940.92,97027216.30,132048320.83,434708544.96
amazon_open,1256.00,122.94,33.13,67.30,92.69,113.88,158.34,187.20
amazon_high,1256.00,124.47,33.44,69.80,93.78,116.30,159.95,188.65
amazon_low,1256.00,121.29,32.75,65.35,91.56,112.54,156.25,184.84
amazon_close,1256.00,122.89,33.05,67.20,92.77,114.37,158.10,186.57
amazon_volume,1256.00,82815035.56,38251381.13,17626740.00,57010110.00,71495074.00,97630470.25,311345660.00
google_open,1256.00,90.78,29.65,49.22,61.93,88.12,115.19,151.25
google_high,1256.00,91.83,29.94,50.61,62.30,88.86,116.72,151.55
google_low,1256.00,89.77,29.31,48.88,61.25,87.03,113.74,148.90
google_close,1256.00,90.83,29.62,49.23,61.79,88.06,114.89,149.84
google_volume,1256.00,34805583.41,15485231.88,9312760.00,25108005.00,31007180.00,39914870.00,133177100.00
uber_open,1044.00,37.10,9.44,15.96,30.25,34.75,43.56,63.25
uber_high,1044.00,37.86,9.51,17.80,30.89,35.31,44.28,64.05
uber_low,1044.00,36.29,9.29,13.71,29.56,33.93,42.82,60.80
uber_close,1044.00,37.08,9.38,14.82,30.27,34.68,43.47,63.18
uber_volume,1044.00,25396543.91,16306256.24,3380003.00,15947602.50,21673059.00,30212457.00,186322536.00

In [26]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.43,0.63,0.64,0.63,0.63,-0.32,0.90,0.91,0.90,0.90,-0.08,0.07,0.07,0.08,0.07,0.09
apple_high,1.00,1.00,1.00,1.00,-0.42,0.63,0.64,0.63,0.63,-0.32,0.90,0.91,0.90,0.90,-0.08,0.07,0.07,0.07,0.07,0.09
apple_low,1.00,1.00,1.00,1.00,-0.44,0.63,0.64,0.63,0.63,-0.33,0.91,0.91,0.90,0.91,-0.09,0.07,0.08,0.08,0.08,0.08
apple_close,1.00,1.00,1.00,1.00,-0.43,0.63,0.64,0.63,0.63,-0.32,0.90,0.91,0.90,0.91,-0.09,0.07,0.07,0.07,0.07,0.09
apple_volume,-0.43,-0.42,-0.44,-0.43,1.00,-0.16,-0.16,-0.17,-0.17,0.59,-0.44,-0.44,-0.45,-0.45,0.45,-0.15,-0.14,-0.17,-0.16,0.23
amazon_open,0.63,0.63,0.63,0.63,-0.16,1.00,1.00,1.00,1.00,-0.21,0.73,0.73,0.73,0.73,-0.12,0.59,0.59,0.59,0.59,-0.03
amazon_high,0.64,0.64,0.64,0.64,-0.16,1.00,1.00,1.00,1.00,-0.20,0.73,0.73,0.73,0.73,-0.11,0.58,0.58,0.58,0.58,-0.03
amazon_low,0.63,0.63,0.63,0.63,-0.17,1.00,1.00,1.00,1.00,-0.23,0.73,0.72,0.73,0.73,-0.13,0.60,0.60,0.60,0.60,-0.04
amazon_close,0.63,0.63,0.63,0.63,-0.17,1.00,1.00,1.00,1.00,-0.21,0.73,0.73,0.73,0.73,-0.12,0.59,0.59,0.59,0.59,-0.03
amazon_volume,-0.32,-0.32,-0.33,-0.32,0.59,-0.21,-0.20,-0.23,-0.21,1.00,-0.33,-0.33,-0.34,-0.34,0.54,-0.16,-0.15,-0.18,-0.17,0.24
google_open,0.90,0.90,0.91,0.90,-0.44,0.73,0.73,0.73,0.73,-0.33,1.00,1.00,1.00,1.00,-0.13,0.24,0.24,0.24,0.24,0.09
google_high,0.91,0.91,0.91,0.91,-0.44,0.73,0.73,0.72,0.73,-0.33,1.00,1.00,1.00,1.00,-0.12,0.23,0.24,0.24,0.23,0.09
google_low,0.90,0.90,0.90,0.90,-0.45,0.73,0.73,0.73,0.73,-0.34,1.00,1.00,1.00,1.00,-0.14,0.25,0.25,0.25,0.25,0.08
google_close,0.90,0.90,0.91,0.91,-0.45,0.73,0.73,0.73,0.73,-0.34,1.00,1.00,1.00,1.00,-0.14,0.24,0.24,0.24,0.24,0.09
google_volume,-0.08,-0.08,-0.09,-0.09,0.45,-0.12,-0.11,-0.13,-0.12,0.54,-0.13,-0.12,-0.14,-0.14,1.00,-0.16,-0.15,-0.17,-0.16,0.27
uber_open,0.07,0.07,0.07,0.07,-0.15,0.59,0.58,0.60,0.59,-0.16,0.24,0.23,0.25,0.24,-0.16,1.00,1.00,1.00,0.99,-0.20
uber_high,0.07,0.07,0.08,0.07,-0.14,0.59,0.58,0.60,0.59,-0.15,0.24,0.24,0.25,0.24,-0.15,1.00,1.00,1.00,1.00,-0.18
uber_low,0.08,0.07,0.08,0.07,-0.17,0.59,0.58,0.60,0.59,-0.18,0.24,0.24,0.25,0.24,-0.17,1.00,1.00,1.00,1.00,-0.22
uber_close,0.07,0.07,0.08,0.07,-0.16,0.59,0.58,0.60,0.59,-0.17,0.24,0.23,0.25,0.24,-0.16,0.99,1.00,1.00,1.00,-0.20
uber_volume,0.09,0.09,0.08,0.09,0.23,-0.03,-0.03,-0.04,-0.03,0.24,0.09,0.09,0.08,0.09,0.27,-0.20,-0.18,-0.22,-0.20,1.00

In [27]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [33]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [31]:
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.63          0.91        0.07
amazon_close         0.63          1.00          0.73        0.59
google_close         0.91          0.73          1.00        0.24
uber_close           0.07          0.59          0.24        1.00

In [34]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [35]:
df[closes].corr()

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.43,0.63,-0.32,0.91,-0.09,0.07,0.09
apple_volume,-0.43,1.00,-0.17,0.59,-0.45,0.45,-0.16,0.23
amazon_close,0.63,-0.17,1.00,-0.21,0.73,-0.12,0.59,-0.03
amazon_volume,-0.32,0.59,-0.21,1.00,-0.34,0.54,-0.17,0.24
google_close,0.91,-0.45,0.73,-0.34,1.00,-0.14,0.24,0.09
google_volume,-0.09,0.45,-0.12,0.54,-0.14,1.00,-0.16,0.27
uber_close,0.07,-0.16,0.59,-0.17,0.24,-0.16,1.00,-0.20
uber_volume,0.09,0.23,-0.03,0.24,0.09,0.27,-0.20,1.00

### <a name='a5'></a> Metoda append()

In [37]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-07-03      43.17      43.40     42.58       43.09      7578076
2023-06-30      43.11      43.43     42.92       43.17     17589240
2023-06-29      44.09      44.28     42.11       42.58     28595285
2023-06-28      43.50      45.24     43.32       44.24     28187374
2023-06-27      44.69      44.83     43.75       43.83     29652066

In [38]:
uber_6 = uber[uber.index.month == 6]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-06-30      43.11      43.43     42.92       43.17     17589240
2023-06-29      44.09      44.28     42.11       42.58     28595285
2023-06-28      43.50      45.24     43.32       44.24     28187374
2023-06-27      44.69      44.83     43.75       43.83     29652066
2023-06-26      43.75      45.04     43.68       44.42     33692974
...               ...        ...       ...         ...          ...
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

[106 rows x 5 columns]

In [39]:
uber_7 = uber[uber.index.month == 6]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-06-30      43.11      43.43     42.92       43.17     17589240
2023-06-29      44.09      44.28     42.11       42.58     28595285
2023-06-28      43.50      45.24     43.32       44.24     28187374
2023-06-27      44.69      44.83     43.75       43.83     29652066
2023-06-26      43.75      45.04     43.68       44.42     33692974
...               ...        ...       ...         ...          ...
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

[106 rows x 5 columns]

In [41]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7

<ipython-input-41-aae1becbefc8>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  uber_6_7 = uber_6.append(uber_7)

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-06-30      43.11      43.43     42.92       43.17     17589240
2023-06-29      44.09      44.28     42.11       42.58     28595285
2023-06-28      43.50      45.24     43.32       44.24     28187374
2023-06-27      44.69      44.83     43.75       43.83     29652066
2023-06-26      43.75      45.04     43.68       44.42     33692974
...               ...        ...       ...         ...          ...
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

[212 rows x 5 columns]